<html>
    <head>
        <title>Pagina walter</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 27.7.21</p>
            <h2><a href="">My first post</a></h2>
            <p> <strong>aca iria un texto</strong></p>
        </div>

        <div>
            <p>published: 20.7.21</p>
            <h2><a href="">My second post</a></h2>
            <p><em>aca iria otro texto segundo</em></p>
        </div>
    </body>
</html>